# Fill in appropriate values below:
export DA_USERNAME=""
export GIT_AUTHOR_EMAIL=""
export GIT_AUTHOR_NAME=""

# Change this only if you really want to use different GIT_COMMITTER info:
export GIT_COMMITTER_EMAIL=$GIT_AUTHOR_EMAIL
export GIT_COMMITTER_NAME=$GIT_AUTHOR_NAME
